@tailwind base;
@tailwind components;
@tailwind utilities;

.component-fade-enter-active,
.component-fade-leave-active {
  transition: all 0.15s ease-in;
}

.component-fade-enter-from {
  opacity: 0;
  transform: scale(105%);
}
.component-fade-leave-to {
  opacity: 0;
  transform: scale(95%);
}